<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"> Tecnologico de León</h1>
            <h3 class="mb-5">
                <em>Registra tus materias!! </em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/login" >
            Inicia sesion o Registrate!!
            </a>
         <img src="/img/TecNM20171.jpg" alt="Logo Principal" class="card-img-top mx-auto m-2 w-50">
        </div>
        <div class="overlay"></div>
    </header>
</main>